{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            {% if banners %}
                {% for item in banners %}
                    {% if item.ordering < 3  %}
                        <div class="col-lg-6">
                            <div class="banner banner-big banner-overlay">
                                <a href="{{item.link}}">
                                    <img src="{{ item.image.url }}" alt="{{item.title_1}}">
                                </a>

                                <div class="banner-content banner-content-center">
                                    <h3 class="banner-subtitle text-white"><a href="{{item.link}}">{{item.title_1}}</a></h3><!-- End .banner-subtitle -->
                                    <h2 class="banner-title text-white"><a href="{{item.link}}">{{item.title_2}}</a></h2><!-- End .banner-title -->
                                    <a href="{{item.link}}" class="btn underline"><span>Discover Now</span></a>
                                </div><!-- End .banner-content -->
                            </div><!-- End .banner -->
                        </div><!-- End .col-lg-6 -->
                    {% else %}


                        <div class="col-md-6 col-lg-4">
                            <div class="banner banner-overlay text-white">
                                <a href="{{item.link}}">
                                    <img src="{{ item.image.url }}" alt="{{item.title_1}}">
                                </a>

                                <div class="banner-content banner-content-right">
                                    <h4 class="banner-subtitle"><a href="{{item.link}}">{{item.title_1}}</a></h4><!-- End .banner-subtitle -->
                                    <h3 class="banner-title"><a href="{{item.link}}">{{item.title_2|safe}}</a></h3><!-- End .banner-title -->
                                    <a href="{{item.link}}" class="btn underline banner-link">Shop Now</a>
                                </div><!-- End .banner-content -->
                            </div><!-- End .banner -->
                        </div><!-- End .col-lg-4 -->

                    {% endif %}
                {% endfor %}
            {% endif %}

        </div><!-- End .row -->

    </div><!-- End .container-fluid -->

    <div class="icon-boxes-container bg-transparent">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-12 icon-boxes"">
                    <div class="col-sm-6 col-lg-4">
                        <div class="icon-box icon-box-side">
                            <span class="icon-box-icon">
                                <i class="icon-truck"></i>
                            </span>

                            <div class="icon-box-content">
                                <h3 class="icon-box-title">Payment & Delivery</h3><!-- End .icon-box-title -->
                                <p>Free shipping for orders over $50</p>
                            </div><!-- End .icon-box-content -->
                        </div><!-- End .icon-box -->
                    </div><!-- End .col-sm-6 col-lg-4 -->

                    <div class="col-sm-6 col-lg-4">
                        <div class="icon-box icon-box-side">
                            <span class="icon-box-icon">
                                <i class="icon-rotate-left"></i>
                            </span>

                            <div class="icon-box-content">
                                <h3 class="icon-box-title">Return & Refund</h3><!-- End .icon-box-title -->
                                <p>Free 100% money back guarantee</p>
                            </div><!-- End .icon-box-content -->
                        </div><!-- End .icon-box -->
                    </div><!-- End .col-sm-6 col-lg-4 -->

                    <div class="col-sm-6 col-lg-4">
                        <div class="icon-box icon-box-side">
                            <span class="icon-box-icon">
                                <i class="icon-headphones"></i>
                            </span>

                            <div class="icon-box-content">
                                <h3 class="icon-box-title">Quality Support</h3><!-- End .icon-box-title -->
                                <p>Alway online feedback 24/7</p>
                            </div><!-- End .icon-box-content -->
                        </div><!-- End .icon-box -->
                    </div><!-- End .col-sm-6 col-lg-4 -->
                </div>
            </div><!-- End .row -->
        </div><!-- End .container -->
    </div><!-- End .icon-boxes-container -->

    <hr class="mt-0 mb-6">

    <div class="container-fluid">
        {% if trendingProducts %}
        <div class="heading heading-center mb-4">
            <h2 class="title"><span class="title-border-bottom">Trending</span></h2><!-- End .title -->
        </div><!-- End .heading -->
         <div class="products col-lg-8 col-md-10 col-sm-12 pl-0 pr-0 m-auto">
            <div class="row justify-content-center">
                {% for item in trendingProducts %}
                <div class="col-6 col-md-4 col-lg-3 col-xl-5col">
                    <div class="product product-7 text-center">
                        <figure class="product-media">
                            <a href="{% url 'product.details' item.id %}">
                                <img src="{{item.image.url}}" alt="{{item.name}}" class="product-image">
                                <img src="{{item.image2.url}}" alt="{{item.name}}" class="product-image-hover">
                            </a>

<!--                            <div class="product-action-vertical">-->
<!--                                <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>-->
<!--                                <a href="popup/quickView.html" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a>-->
<!--                            </div>-->

                            <div class="product-action">
                                <a href="javascript:void(0)" class="btn-product btn-cart"><span>add to cart</span></a>
                            </div><!-- End .product-action -->
                        </figure><!-- End .product-media -->

                        <div class="product-body">
                            <h3 class="product-title"><a href="product.html">{{item.name}}</a></h3><!-- End .product-title -->
                            <div class="product-price">
                                <span class="new-price">${{item.price}}</span>
                            </div><!-- End .product-price -->
                        </div><!-- End .product-body -->
                    </div><!-- End .product -->
                </div><!-- End .col-sm-6 col-md-4 col-lg-3 -->

                {% endfor %}
            </div><!-- End .row -->
        </div><!-- End .products -->
        <div class="more-container text-center mt-2">
            <a href="{% url 'products.tag' 'Trending' %}" class="btn btn-outline-dark-3 btn-more"><span>Browse more</span><i class="icon-long-arrow-right"></i></a>
        </div><!-- End .more-container -->
        <hr class="mt-0 mb-6">
        {% endif %}

        {% if trendingProducts %}
        <div class="heading heading-center mb-4">
            <h2 class="title"><span class="title-border-bottom">NEW ARRIVALS</span></h2><!-- End .title -->
        </div><!-- End .heading -->
         <div class="products col-lg-8 col-md-10 col-sm-12 pl-0 pr-0 m-auto">
            <div class="row justify-content-center">
                {% for item in trendingProducts %}
                <div class="col-6 col-md-4 col-lg-3 col-xl-5col">
                    <div class="product product-7 text-center">
                        <figure class="product-media">
                            <a href="{% url 'product.details' item.id %}">
                                <img src="{{item.image.url}}" alt="{{item.name}}" class="product-image">
                                <img src="{{item.image2.url}}" alt="{{item.name}}" class="product-image-hover">
                            </a>

<!--                            <div class="product-action-vertical">-->
<!--                                <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>-->
<!--                                <a href="popup/quickView.html" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a>-->
<!--                            </div>-->

                            <div class="product-action">
                                <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                            </div><!-- End .product-action -->
                        </figure><!-- End .product-media -->

                        <div class="product-body">
                            <h3 class="product-title"><a href="product.html">{{item.name}}</a></h3><!-- End .product-title -->
                            <div class="product-price">
                                <span class="new-price">${{item.price}}</span>
                            </div><!-- End .product-price -->
                        </div><!-- End .product-body -->
                    </div><!-- End .product -->
                </div><!-- End .col-sm-6 col-md-4 col-lg-3 -->

                {% endfor %}
            </div><!-- End .row -->
        </div><!-- End .products -->
        <div class="more-container text-center mt-2">
            <a href="{% url 'products.tag' 'Trending' %}" class="btn btn-outline-dark-3 btn-more"><span>Browse more</span><i class="icon-long-arrow-right"></i></a>
        </div><!-- End .more-container -->
        <hr class="mt-0 mb-6">
        {% endif %}

        {% if trendingProducts %}
        <div class="heading heading-center mb-4">
            <h2 class="title"><span class="title-border-bottom">Featured</span></h2><!-- End .title -->
        </div><!-- End .heading -->
         <div class="products col-lg-8 col-md-10 col-sm-12 pl-0 pr-0 m-auto">
            <div class="row justify-content-center">
                {% for item in trendingProducts %}
                <div class="col-6 col-md-4 col-lg-3 col-xl-5col">
                    <div class="product product-7 text-center">
                        <figure class="product-media">
                            <a href="{% url 'product.details' item.id %}">
                                <img src="{{item.image.url}}" alt="{{item.name}}" class="product-image">
                                <img src="{{item.image2.url}}" alt="{{item.name}}" class="product-image-hover">
                            </a>

<!--                            <div class="product-action-vertical">-->
<!--                                <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>-->
<!--                                <a href="popup/quickView.html" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a>-->
<!--                            </div>-->

                            <div class="product-action">
                                <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                            </div><!-- End .product-action -->
                        </figure><!-- End .product-media -->

                        <div class="product-body">
                            <h3 class="product-title"><a href="product.html">{{item.name}}</a></h3><!-- End .product-title -->
                            <div class="product-price">
                                <span class="new-price">${{item.price}}</span>
                            </div><!-- End .product-price -->
                        </div><!-- End .product-body -->
                    </div><!-- End .product -->
                </div><!-- End .col-sm-6 col-md-4 col-lg-3 -->

                {% endfor %}
            </div><!-- End .row -->
        </div><!-- End .products -->
        <div class="more-container text-center mt-2">
            <a href="{% url 'products.tag' 'Trending' %}" class="btn btn-outline-dark-3 btn-more"><span>Browse more</span><i class="icon-long-arrow-right"></i></a>
        </div><!-- End .more-container -->

        {% endif %}


    </div><!-- End .container-fluid -->

    {% if testimonials %}
    <div class="bg-light-2 pt-7 pb-6 testimonials">
        <div class="container">
            <h2 class="title text-center mb-2">Our Customers Say</h2><!-- End .title text-center -->
            <div class="owl-carousel owl-simple owl-testimonials" data-toggle="owl"
                data-owl-options='{
                    "nav": false,
                    "dots": true,
                    "margin": 20,
                    "loop": false,
                    "responsive": {
                        "1200": {
                            "nav": true
                        }
                    }
                }'>

                {% for item in testimonials %}
                <blockquote class="testimonial testimonial-icon text-center">
                    <p class="lead">“{{item.title}}”</p><!-- End .lead -->
                    <p>“{{item.Description}}”</p>

                    <cite>
                       {{item.name}}
                        <span>{{item.designation}}</span>
                    </cite>
                </blockquote><!-- End .testimonial -->

                {% endfor %}


            </div><!-- End .testimonials-slider owl-carousel -->
        </div><!-- End .container -->
    </div><!-- End .bg-light pt-5 pb-5 -->

    {% endif %}

 {% endblock  %}
