{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="page-header text-center" style="background-image: url({% static 'assets/images/page-header-bg.jpg' %})">
        <div class="container">
            <h1 class="page-title">Product Details</h1>
        </div><!-- End .container -->
    </div><!-- End .page-header -->

    <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-2">
        <div class="container d-flex align-items-center ">
            <ol class="breadcrumb col-lg-8 col-md-10 col-sm-12 m-auto">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                <li class="breadcrumb-item"><a href="{% url 'products' %}">Products</a></li>
                <li class="breadcrumb-item active" aria-current="page">Details</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="page-content">
        <div class="container">
            <div class="product-details-top mb-2 col-lg-8 col-md-10 col-sm-12 m-auto">
                <div class="row">
                    <div class="col-md-6">
                        <div class="product-gallery product-gallery-vertical">
                            <div class="row">
                                <figure class="product-main-image">
                                    <img id="product-zoom" src="{{product.image.url}}" data-zoom-image="{{product.image.url}}" alt="{{product.name}}">
                                </figure><!-- End .product-main-image -->

                                <div id="product-zoom-gallery" class="product-image-gallery">
                                    <a class="product-gallery-item active" href="javascript:void(0)" data-image="{{product.image.url}}" data-zoom-image="{{product.image.url}}g">
                                        <img src="{{product.image.url}}" alt="product side">
                                    </a>

                                    <a class="product-gallery-item" href="javascript:void(0)" data-image="{{product.image2.url}}" data-zoom-image="{{product.image2.url}}">
                                        <img src="{{product.image2.url}}" alt="product cross">
                                    </a>

                                     <a class="product-gallery-item" href="javascript:void(0)"></a>
                                     <a class="product-gallery-item" href="javascript:void(0)"></a>
                                    <a class="product-gallery-item" href="javascript:void(0)"></a>
                                     <a class="product-gallery-item" href="javascript:void(0)"></a>
                                    <a class="product-gallery-item" href="javascript:void(0)"></a>
                                     <a class="product-gallery-item" href="javascript:void(0)"></a>
                                    <a class="product-gallery-item" href="javascript:void(0)"></a>
                                     <a class="product-gallery-item" href="javascript:void(0)"></a>
                                    <a class="product-gallery-item" href="javascript:void(0)"></a>
                                     <a class="product-gallery-item" href="javascript:void(0)"></a>
                                    <a class="product-gallery-item" href="javascript:void(0)"></a>
                                     <a class="product-gallery-item" href="javascript:void(0)"></a>
                                    <a class="product-gallery-item" href="javascript:void(0)"></a>
                                     <a class="product-gallery-item" href="javascript:void(0)"></a>

                                </div><!-- End .product-image-gallery -->
                            </div><!-- End .row -->
                        </div><!-- End .product-gallery -->
                    </div><!-- End .col-md-6 -->

                    <div class="col-md-6">
                        <div class="product-details">
                            <h1 class="product-title">{{ product.name }}</h1><!-- End .product-title -->

                            <div class="ratings-container">
                                <div class="ratings">
                                    <div class="ratings-val" style="width: 80%;"></div><!-- End .ratings-val -->
                                </div><!-- End .ratings -->
                                <a class="ratings-text" href="#product-review-link" id="review-link">( 2 Reviews )</a>
                            </div><!-- End .rating-container -->

                            <div class="product-price">
                                ${{ product.price }}
                            </div><!-- End .product-price -->

                            <div class="product-content">
                                <p>{{ product.short_desc }}</p>
                            </div><!-- End .product-content -->

                            <div class="product-details-action">
                                <div class="details-action-col">
                                    <div class="product-details-quantity">
                                        <input type="number" id="qty" class="form-control" value="1" min="1" max="10" step="1" data-decimals="0" required>
                                    </div><!-- End .product-details-quantity -->

                                    <a href="javascript:void()" class="btn-product btn-cart"><span>add to cart</span></a>
                                </div><!-- End .details-action-col -->

                            </div><!-- End .product-details-action -->

                            <div class="product-details-footer">
                                <div class="product-cat">
                                    <span>Category:</span>
                                    <a href="{% url 'products.category' category.id %}">{{category.name}}</a>
                                </div><!-- End .product-cat -->

                                <div class="social-icons social-icons-sm">
                                    <span class="social-label">Share:</span>
                                    <a href="javascript:void()" class="social-icon" title="Facebook" target="_blank"><i class="icon-facebook-f"></i></a>
                                    <a href="javascript:void()" class="social-icon" title="Twitter" target="_blank"><i class="icon-twitter"></i></a>
                                    <a href="javascript:void()" class="social-icon" title="Instagram" target="_blank"><i class="icon-instagram"></i></a>
                                    <a href="javascript:void()" class="social-icon" title="Pinterest" target="_blank"><i class="icon-pinterest"></i></a>
                                </div>
                            </div><!-- End .product-details-footer -->
                        </div><!-- End .product-details -->
                    </div><!-- End .col-md-6 -->
                </div><!-- End .row -->
            </div><!-- End .product-details-top -->

            <div class="product-details-tab col-lg-8 col-md-10 col-sm-12 m-auto">
                <ul class="nav nav-pills justify-content-center" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="product-desc-link" data-toggle="tab" href="#product-desc-tab" role="tab" aria-controls="product-desc-tab" aria-selected="true">Description</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="product-desc-tab" role="tabpanel" aria-labelledby="product-desc-link">
                        <div class="product-desc-content">{{product.long_desc|safe}}</div><!-- End .product-desc-content -->
                    </div><!-- .End .tab-pane -->

                </div><!-- End .tab-content -->
            </div><!-- End .product-details-tab -->

        </div><!-- End .container -->
    </div><!-- End .page-content -->

{% endblock  %}

{% block 'script' %}
   <script src="{% static 'assets/js/jquery.elevateZoom.min.js' %}"></script>
{% endblock %}
